.navbarContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbarItemWrapper {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbarItem {
    max-width: 60%;
    margin-right: auto;
    width: 100%;
    border-top-right-radius: 99999px;
    border-bottom-right-radius: 99999px;
}

@media (min-width: 768px) {
    .navbarItem {
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .navbarItem {
        max-width: 85%;
    }
}

@media (min-width: 1280px) {
    .navbarItem {
        max-width: 85%;
    }
}

@media (min-width: 1536px) {
    .navbarItem {
        max-width: 85%;
    }
}

.activeItem {
    background-color: var(--mantine-color-brand-9);
    color: white;
}

.inactiveItem {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.inactiveItem:hover {
    background-color: #e2e8f0;
    color: var(--mantine-color-brand-9);
}
